.main{
    background-color: cornflowerblue;
    height: 100vh;
}

.second{
    background-color: dodgerblue;
    height: 100vh;
}

.third{
    background-color: midnightblue;
    height: 100vh;
}